@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

#app, p {
  font-family: 'Darker Grotesque', sans-serif;
}

nav {
  height: 50px;
  background-color: #1DB954;
  display: block;
}

nav img {
  height: 90%;
  margin-top: 2px;
  margin-left: 10px;
  top: 50%;
}

.navbar-brand{
  position: absolute;
  right: 0;
  color: #fff;
}
.navbar-brand a {
  color: #fff;
}
.is-active {
  color: #191414!important;
}

.info-panel img, .now-playing img {
  width: 100%;
}
p.track { color: #191414; font-weight: bold; font-size: 18px;}
p.artist {
  font-size: 16px;
}
p.album{font-size: 14px;}

.player {
  text-align: center;
  background-color: #191414;
  bottom: 0;
  width: 100%;
}

.info-panel {
  position: relative;
  height: 75%;
}

.player a {
  color: white;
}

.now-playing {background-color: #191414; position: absolute; bottom: 0; right: 0; width: 33%;}

.now-playing p {color: white;}

.columns.now-play, .columns.player {
  margin: 0 !important;
}
.player a:hover {
  color: #1DB954;
}

.trackName {
  font-size: 22px;
}

.artistName {
  font-size: 18px;
}
