@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Staatliches&display=swap');

html, body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

#app, p {
  font-family: 'Barlow', sans-serif;
}

nav {
  height: 50px;
  background-color: #1DB954;
}

nav img {
  height: 90%;
  margin-top: 2px;
  margin-left: 10px;
  top: 50%;
}

.navbar-brand {
  position: absolute;
  right: 0;
  top:0;
  color: #fff;
}

.navbar-brand a {
  color: #fff;
}

.is-active {
  color: #191414 !important;
}

.info-panel img, .now-playing img {
  width: 100%;
}

p.track {
  color: #191414;
  font-weight: bold;
  font-size: 18px;
}

p.artist {
  font-size: 16px;
}

p.album {
  font-size: 14px;
}

.player {
  text-align: center;
  background-color: #191414;
  bottom: 0;
  width: 100%;
}

.info-panel {
  position: relative;
  height: 75%;
}

.player a {
  color: white;
}

.now-playing {
  background-color: #191414;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33%;
}

.now-playing p {
  color: white;
}

.columns.now-play, .columns.player {
  margin: 0 !important;
}

.player a:hover {
  color: #1DB954;
}

.trackName {
  font-size: 22px;
}

.artistName {
  font-size: 18px;
}

input {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 7px; /* Specified height */
  background: #333; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  overflow: hidden;
}

input::-webkit-slider-thumb {

  -webkit-appearance: none; /* Override default look */
  appearance: none;
  box-shadow: -100vw 0 0 100vw #1DB954;
  overflow: hidden;
  width: 7px; /* Set a specific slider handle width */
  height: 7px; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

input::-moz-range-thumb {
  border-radius: 5px;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #1DB954; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
/*
body, html {
  height: 100%;
  overflow: hidden;
}
*/
#app, .columns, .column, .playlists, .tracks {
  height: 100%;
}

.columns.album {
  height: auto;
}

.b-table {
  overflow: scroll;
  height: 90%;
  padding-bottom: 50px;
}

.top {
  height: 10%;
}

.from {
  text-align: right;
}

.apple-gradient {
  background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
  background: rgb(50,173,254);
  background: linear-gradient(343deg, rgba(50,173,254,1) 14%, rgba(193,79,227,1) 58%, rgba(255,97,92,1) 100%);
}

.settings-page {
  text-align: center;
}

h1 {
  font-size: 32px!important;
}

.container-flex {
  height: 100%;
}

.mainCenter {
  width: 100%;
  height: 100%;
  text-align: center;
}

.welcome {
  font-family: 'Staatliches', sans-serif;
  font-size: 72px;
}

.white-fade {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

footer {
  text-align: center;
  width: 100%;
}
