@import "~bulma/sass/utilities/_all";

$primary: #ca3e47;
$primary-invert: #35C1B8;

$spotify:  #1DB954;
$spotify-grey: #191414;

$family-primary: "Barlow";
$grey: #999;
$white: #fff;
$black: #000;
$red: #c33;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $white),
  "inv-primary": ($primary-invert, $black),
  "spotify": ($spotify, $spotify-grey),
  "grey": ($grey, $black),
  "red": ($primary, $white),
);

// Links
$link: $grey;
$link-invert: $primary-invert;
$link-focus-border: $primary;
